<div class="{{class}}">
    <input id="{{id}}" type="{{type}}" name="{{id}}" class="control" {{#if autocomplete}}autocomplete="{{autocomplete}}"{{/if}} {{#if required}}required="{{required}}"{{else}}required{{/if}} />
    <label for="{{id}}" class="label-for-control">{{label}}</label>
</div>