<div class="{{class}}">
    <input id="{{id}}" type="{{type}}" name="{{id}}" {{#if autocomplete}}autocomplete="{{autocomplete}}"{{/if}} {{#if required}}required="{{required}}"{{else}}required{{/if}} />
    <label for="{{id}}">{{label}}</label>
</div>